   /* Thêm một số kiểu chung cho trang */
   body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b1622;
    color: #9FADBD;
    font-family: 'Quicksand', sans-serif;
}
h1 {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #007BFF;
    border-bottom: 5px solid #0056b3;

}
/* Cải thiện kiểu cho thanh tìm kiếm */
#site-search {
    display: block;
    width: 15.6%;
    max-width: 600px;
    /* margin: 20px auto; */
    padding: 10px;
    border: 1px solid #151f2e;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand', sans-serif;
    background-color: #151f2e;
    color: #9FADBD;
    margin-top: 100px;
    margin-left: 20px;
}
/* Cải thiện kiểu cho lưới và các mục */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.grid-item {
    border: 1px solid #151f2e;
    padding: 1px;
    box-sizing: border-box;
    background-color: #151f2e;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease;
    /* position: relative; Đặt vị trí tương đối để popup có thể hiển thị đúng vị trí */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  
}
.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* Cải thiện kiểu cho popup */
.popup {
display: none;
position: absolute;
width: 200px;
top: -10px; /* Đặt popup một chút phía trên mục */
right: -220px; /* Đặt popup bên phải của mục */
padding: 10px;
/* border: 1px solid #ddd; */
background-color: #1d232e;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
 z-index: 999;/* Đặt popup lên trên cùng */
opacity: 0; /* Bắt đầu với popup không hiển thị */
transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động mượt mà */
}
.grid-item:hover .popup {
display: block;
opacity: 1; /* Khi di chuột qua mục, hiển thị popup */

}

/* Cải thiện kiểu cho hình ảnh và nút */
.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: all 0.3s ease;
 
} 
 .grid-item img:hover {
    transform: scale(1.05);
} 
.grid-item button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}
.grid-item button:hover {
    background-color: #0056b3;
}
button {
    display: inline-block;
padding: 10px 20px;
border: none;
background-color: #007BFF;
color: #fff;
text-transform: uppercase;
cursor: pointer;
transition: all 0.3s ease;
border-radius: 4px;
box-shadow: 0 6px #0056b3; /* Tạo bóng dưới nút để tạo hiệu ứng 3D */
    font-family: 'Quicksand', sans-serif;
}
/* Kiểu cho lưới khi kích thước màn hình nhỏ hơn 600px */
@media (max-width: 600px) {
.grid-container {
grid-template-columns: 1fr; /* Chỉ hiển thị một mục trên mỗi hàng */
}
.grid-item {
margin: 10px; /* Thêm một chút không gian giữa các mục */
}
.popup {
right: 0; /* Đặt popup ngay bên phải của mục */
}
}

/* Thêm hiệu ứng chuyển động mượt mà cho tất cả các phần tử */
* {
transition: all 0.3s ease;
}

/* Thêm hiệu ứng phóng to khi di chuột qua các mục và hình ảnh */
.grid-item:hover, .grid-item img:hover {
transform: scale(1.05);
}

/* Thêm hiệu ứng màu nền khi di chuột qua nút */
.grid-item button:hover, #mode-toggle:hover {
background-color: #0056b3;
}
/* Khi di chuột qua nút */
button:hover {
top: 2px; /* Di chuyển nút lên một chút */
box-shadow: 0 4px #0056b3; /* Làm cho bóng dưới nút nhỏ lại */
}

/* Khi nhấn vào nút */
button:active {
top: 6px; /* Di chuyển nút xuống */
box-shadow: 0 0 #0056b3; /* Làm cho bóng dưới nút biến mất */
}



.navbar[data-v-62eacfff]{
    background-color: #152232;
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    transition: background .8s ease, color .2s;
    left: 0px;
    user-select: none;
    height: 64px;
    top: 0px;
   
}

.warp[data-v-62eacfff]{
     align-items: center;
     display: flex;
     height: 100%;
     margin-left: 50px;
    margin-right: 50px;
    max-width: 1050px;
}
.link[data-v-62eacfff]{
    align-items: center;
    display: inline-flex;
    font-family: Quicksand;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
    letter-spacing: .01em;
    padding: 18px 16px;
    text-decoration: none;
    color: #96a6bb;
}


.link[data-v-62eacfff]:hover{
    color: #d3d5f3;
}
a:visited{
    color: inherit;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .15s;
    outline: 0;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

























.progress[data-v-5d42c114] {
    background-color: #29a6ff;
    border-radius: 0 10px 10px 0;
    height: 4px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: width .3s ease, opacity .2s;
    width: 0;
    z-index: 99999;
}
